#headbar {
	height: 75px;
	width: 100%;
	background: linear-gradient(to right, #8F2B88, #FE0052);
}

#logo-polygon {
	position: relative;
	top: 5px;
	float: left;
}

#left-column {
	height: 2000px;
	width: 70%;
}

#navbar {
	height: 100%;
	float: left;
	margin: 0px 15px 0px 30px;
}

#navbar ul {
	margin: 0;
	padding: 0;
	height: 100%;
}

#navbar ul li {
	display: table;
	float: left;
	margin: 0px 12px;
	height: 100%;
}

#navbar a {
	vertical-align: middle;
	display: table-cell;
}

#navbar a:hover {
	color: #32283C;
}

#search {
	float: right;
	width: 48px;
}

#social {
	float: right;
	width: 228px;
}

.social-img-container {
	width: 16px;
	height: 16px;
}

.icon-social {
	height: 100%;
	width: 100%;
}

.social-hover {
	position: relative;
	z-index: 10;
	opacity: 0;
}

.social-hover:hover {
	opacity: 1;
}

.social-default {
	position: relative;
	top: -19px;
	z-index: 9;
}

#login {
	float: right;
	width: 48px;
}

.menu-item-style a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: white;
	letter-spacing: -0.4px;
	list-style-type: none;
}

.nav {
	height: 100%;
}

.nav ul {
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav ul li {
	display: table;
	float: left;
	margin: 0px 12px;
	height: 100%;
}

.nav a {
	vertical-align: middle;
	display: table-cell;
}

/*
a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
*/
body {
	margin:0;
	padding:0;
}