#navbar {
	height: 75px;
	width: 100%;
	background: linear-gradient(to right, #8F2B88, #FE0052);
}

#navbar img {
	position: relative;
	top: 5px;
	left: -2px;
	margin: 0px 15px;
}

#left-column {
	height: 2000px;
	width: 70%;
}

/*
a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
*/
body {
	margin:0;
	padding:0;
}